body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #101010;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  min-height: 100vh;
  padding: 60px 20px 20px 20px; /* Adjust the first value as needed */
  width: 35%;
  margin: auto;
  padding-bottom: 5vh;
}

@media (max-width: 600px) {
  .app-container {
    width: 100%;
  }
}

.navbar {
  top: 0;
  z-index: 1;
  align-self: flex-start;
}

::-webkit-scrollbar {
  display: none;
}

.corner-border-button {
  --s: 20px; /* the size on the corner */
  --t: 2px; /* the thickness of the border */
  --g: 0px; /* the gap between the border and image */

  padding: calc(var(--g) + var(--t));

  outline: var(--t) solid #ffff; /* the color here */
  outline-offset: calc(-1 * var(--t));
  -webkit-mask: conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
      calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
  mask: conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
      calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media (max-width: 600px) {
  .flexContainer {
    flex-direction: column;
  }
}

@media (min-width: 601px) {
  .flexContainer {
    flex-direction: row;
  }
}

.arrow-icon {
  transform: translateX(0);
}

p:hover .arrow-icon {
  transform: translateX(3px);
}

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-top: 6px; /* adjust this value to move the content down */
}

.dropdown-content.open {
  max-height: none;
}
