body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #101010;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  min-height: 100vh;
  padding: 60px 20px 20px 20px; /* Adjust the first value as needed */
  width: 45%;
  margin: auto;
}

@media (max-width: 600px) {
  .app-container {
    width: 80%;
  }
}

.navbar {
  top: 0;
  z-index: 1;
  align-self: flex-start;
}

::-webkit-scrollbar {
  display: none;
}
